
/* general settings */

a:hover{
  color: rgb(150,150,150);
  text-decoration: none;
}

input, select, textarea{
    color: black;
}

.inline-block{
  display: inline-block;
}

.left{  float: left; left:0px;}
.right{ float: right; right: 0px;}

.unselectable{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


/* color options */
.light-gray{ color: rgb(230,230,230); }
.gray{ color: rgb(200,200,200); }
.dark-gray{ color: rgb(150,150,150); }
.black{ color: rgb(0,0,0); }


/* font options */
.font {  font-family: 'Montserrat', sans-serif;}
.font-p {font-family: 'Open Sans', sans-serif;}
.font-headline { font-family: 'Zilla Slab', serif; }

.font-demi{ font-weight : 700; }
.font-medium{ font-weight : 500;}
.font-regular{ font-weight : 300; }

.font-size-xl{ font-size: 110pt;}
.font-size-l{  font-size: 36pt;}
.font-size-m{  font-size: 18pt;}
.font-size-sm{  font-size: 15pt;}
.font-size-s{  font-size: 12pt;}



/* my container */
.my-container{
  width: 100%;
  height: 100%;
}


/* Start button */
.start-div{
 height: 3em;
 width: 17em;
 border: 0px solid white;
 background-color: rgba(0,0,0,0);
 padding: 0px;
 margin: 0px;
}

.start-div:active, .start-div:focus{
  outline: none !important;
  box-shadow: none;
  border:0px solid white;
  background-color: white;
}




@media only screen and (min-width: 1201px) {
  /* MAIN */
  /* fonts */
  .font-size-xl{ font-size: 110pt;}
  /* start-button */
  .start-div{
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .start-btn{
    font-size: 16pt;
    position: absolute;
    top:4px;
    left: 75%;
    display: inline-block;
    transition-duration: 1s;
  }
  .start-line{
    position: absolute;
   display: inline-block;
   height: 2px;
   background-color: black;
   top: 20px;
   transition-duration: 1s;
    }
    .start-line-front{  width: 70%; left: 0px;}
    .start-line-back{  width: 0%; right: 0px; }
  /* hover button */
   .start-div:hover {cursor: pointer;}
   .start-div:hover .start-line-front, .start-div:active .start-line-front { width: 0%;}
   .start-div:hover .start-line-back, .start-div:active .start-line-back { width: 70%;}
   .start-div:hover .start-btn,.start-div:active .start-btn { left: 0%;}
}


@media only screen and (min-width: 923px) and (max-width: 1200px) {
  /* MAIN */
  /* fonts */
  .font-size-xl{ font-size: 110pt;}
  /* start-button */
  .start-div{
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .start-btn{
    font-size: 16pt;
    position: absolute;
    top:4px;
    left: 75%;
    display: inline-block;
    transition-duration: 1s;
  }
  .start-line{
    position: absolute;
   display: inline-block;
   height: 2px;
   background-color: black;
   top: 20px;
   transition-duration: 1s;
    }
    .start-line-front{  width: 70%; left: 0px;}
    .start-line-back{  width: 0%; right: 0px; }
  /* hover button */
}


@media only screen and (min-width: 768px) and (max-width: 922px) {
  /* MAIN */
  .my-container{
    padding: 0em 4em 4em 4em;
  }
  /* fonts */
  .font-size-xl{ font-size: 90pt;}
  /* start-button */
  .start-div{
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .start-btn{
    font-size: 16pt;
    position: absolute;
    top:4px;
    left: 75%;
    display: inline-block;
    transition-duration: 1s;
  }
  .start-line{
    position: absolute;
   display: inline-block;
   height: 2px;
   background-color: black;
   top: 20px;
   transition-duration: 1s;
    }
    .start-line-front{  width: 70%; left: 0px;}
    .start-line-back{  width: 0%; right: 0px; }
}


@media only screen and (max-width: 767px) {
  /* MAIN */
  .my-container{
    padding: 0em 1em 1em 1em;
  }
  /* fonts */
  .font-size-xl{ font-size: 80pt;}
  /* start-button */
  .start-div{
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .start-btn{
    font-size: 14pt;
    position: absolute;
    top:4px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    transition-duration: 1s;
  }
  .start-line{
    position: absolute;
    display: inline-block;
    height: 2px;
    background-color: black;
    top: 20px;
    transition-duration: 1s;
    }
  .start-line-front{  display: none}
  .start-line-back{  display: none;}
}


/* Lock orientation to portrait for phones */
@media screen and (max-width: 1200px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
