/* navigation bar */
i{
  z-index: 2;
}
.my-nav{
  grid-area: my-nav;
}
.nav-link{
  display: inline-block;
  line-height: 4em;/*this aligns verticaly text */
  vertical-align: middle;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition-duration: 1s;
}
#nav-logo{
  display: none;
}
.dropdown-nav-link{
  display: none;
  top: 40%;
  position: relative;
  text-align: center;
}

/* -------- dropdown menu ---------- */
.my-dropdown{
  background-color: white;
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 0%;
  transition-duration: 1s;
}
.dropdown-nav-link{
  position: relative;
  top:35%;
  transform: translateY(-50%);
  text-align: center;
  display: none;
  transition-duration: 1s;
}


@media only screen and (min-width: 1201px) {
  .my-nav{
    height: 4em;
  }
  .nav-link{
    line-height: 4em;/* this aligns verticaly text */
    font-size: 12pt;
  }
  #dropdown-icon{
    display: none;
  }
  .nav-link-full{
    display: block;
  }
  .nav-link{
    line-height: 4em;/* this aligns verticaly text */s
    font-size: 12pt;
  }
}


@media only screen and (min-width: 923px) and (max-width: 1200px) {
  .nav-link:hover{
    border-bottom: 2px solid rgba(150,150,150,1);
  }
  .my-nav{
    height: 1em;
  }
  #dropdown-icon{
    display: none;
  }
  .nav-link-full{
    display: block;
  }
  .nav-link{
    line-height: 4em; /* this aligns verticaly text */
    font-size: 12pt;
  }
}


@media only screen and (min-width: 768px) and (max-width: 922px) {
  /* navbar */
  .my-nav{
    height: 1em;
  }
  #dropdown-icon{
    display: none;
  }

  /* items */
  .nav-link-full{
    display: block;
  }
  .nav-link{
    line-height: 2em; /* this aligns verticaly text */
    font-size: 12pt;
  }
}


@media only screen and (max-width: 767px) {
  .my-nav{
    height: 12vmax;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "link-left link-right";
  }
  .link-left{
    grid-area: link-left;
  }
  .link-right{
    grid-area: link-right;
  }
  #dropdown-icon{
    display: block;
    margin-top:7px;
  }
  .nav-link-full{
    display: none;
  }
  .nav-link{
    line-height: 2em; /* this aligns verticaly text */
    font-size: 12pt;
    padding: .5rem 0rem .5rem 0rem ;
  }
  #nav-logo{
    display: inline-block;
    font-size: 18pt;
  }

  .dropdown-menu{
    border: 0px solid white;
    margin: 0px;
    padding: 0px;
    right: 0px;
    transition-duration: .5s;

  }
  .active-nav{
    height: 100%;
  }
  .dropdown-nav-link{
      margin: auto;
      margin-top: 30px;
      display: none;
      padding: 5px;
      width: 100px;
      z-index: 2;
  }
  .dropdown-nav-link < a {
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-link:hover{
    border-bottom: 0px solid rgba(0,0,0,0);
  }

  /* ---------- dropodown menu -----------*/
  .my-dropdown{
    z-index: 9;
    position: fixed;
    top: 12vmax;
    display: block;
  }
  .drop-active{
    height: 88vmax;
  }
  .dropdown-nav-link{
    display: none;
    opacity: 0;
    z-index: 20;
  }

}
