{% extends 'base.html' %}


{% block head %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}


{% block body %}
<div class="my-container unselectable">
  {% include 'navbar.html' %}

  <!-- headline -->
  <div class="headline">
    <h1  class="font-headline black font-size-xl">About </h1>
  </div>


  <!-- buttons -->
  <!-- buttons -->
  <div id="button-section" class="buttons">
    <!-- again button -->
    <a  href="{% url 'quizgame:create_player' %}">
      <div class="start-div button">
          <div class="start-line start-line-front"></div>
            <p class="start-btn font-headline font-size-m black">Play</p>
          <div class="start-line start-line-back"></div>
      </div>
    </a>
    <!-- share button -->
    <a  href="">
      <div class="start-div button">
          <div class="start-line start-line-front"></div>
            <p class="start-btn font-headline  font-size-m black">Share</p>
          <div class="start-line start-line-back"></div>
      </div>
    </a>
  </div>

  <!-- description -->
  <div class="description">
      <p class="font-p font-size-s font-regular black" > The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people. The quiz is created because i got to much free time and I dont like people.</p>
  </div>
</div>

{% endblock %}
