

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'index/css/index.css' %}" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet"> -->
{% endblock %}

{% block body %}

{% include "navbar-dropdown.html" %}
<div class="my-container unselectable">
  {% include "navbar.html" %}
  <!-- QUIZZZZ -->
  <div class="impact-container">
    <h1 id="impact" class="font-headline font-demi black font-size-xl">Quizzzz.</h1>
  </div>

  <!-- IMAGE container -->
  <div class="img-container">
    <img id='img' src="" alt="">
  </div>

  <!-- Information under quizzzz -->
  <!-- section markers -->
  <div class="info-div">
    <div class="info-container">
      <div id="info-lines">
          <div class="info-line active" style="background-color: black;"></div>
          <div class="info-line"></div>
          <div class="info-line"></div>
          <div class="info-line"></div>
          <div class="info-line"></div>
      </div>
    <!-- info text -->
      <div class="info-text font-p font-regular font-size-s black">
        <p id="headline" class="">Check your knowlede about acient and modern architecture.</p>
      </div>
    </div>
  </div>
    <!-- Start button -->
  <div class="start-button">
    <a href="{% url 'quizgame:create_player' %}">
      <div class="start-div">
          <div class="start-line start-line-front"></div>
            <p class="start-btn font-headline font-demi black">Start</p>
          <div class="start-line start-line-back"></div>
      </div>
    </a>
  </div>


</div>



<script type="text/javascript">

  var headline_1 = 'Check your knowlede about acient and modern architecture.'
  var headline_2 = 'Answer 10 out of 400 unique questions and compare your score to other players'
  var headline_3 = 'Learn new facts anbout world of design.'
  var headline_4 = 'Share your score with your friends..'
  var headline_5 = 'Good luck motherfucker!.'
  var headlines = [headline_1, headline_2, headline_3, headline_4, headline_5]

  var i_interval = 0;
  var my_headline = "";
  var current_headline_index = 0;
  var timer

  // image animation variales
  var img1 = '/media/png/mies_farm_house.png'
  var img2 = '/media/png/partenon.png'
  var img3 = '/media/png/rotonda.png'
  var i_img = 0
  var imgs = [img1, img2, img3]







  // change colors of little lines
  function lines_color(){
    $.each($('#info-lines').find("div"), function(){
      if ($(this).hasClass('active')){
        $(this).css("background-color","rgb(230,230,230)");
        $(this).removeClass('active');
        if ($(this).next().length) {
          $(this).next().addClass('active');
          $(this).next().css("background-color","black");
        }else{
          $('#info-lines').children().first().addClass('active');
          $('#info-lines').children().first().css("background-color","black");
        }
        return false;
      }
    })
  }

  // timer loop for diplaying headline letter by letter
  function headlines_animation(){
    timer = setInterval(function(){
        id_to_grab = '#headline'

        //check if all the letter were already displayed
        if (i_interval < headlines[current_headline_index].length) {
          my_headline = my_headline + headlines[current_headline_index][i_interval]
          $(id_to_grab).html(my_headline)
          i_interval++;
        }else{
          //check if all the headlines were displayed if yes turn on the first one again
          if (current_headline_index < (headlines.length - 1)  ) {
            current_headline_index++;
            i_interval = 0;
            my_headline = ''
          }else{
            current_headline_index = 0;
            i_interval = 0;
            my_headline = ''
          }
          // stop the clock for a while before displaying next headline
          setTimeout(() => {
            headlines_animation()
            lines_color()
            imgchange()
          },3000)
          clearInterval(timer)
        }
      }, 30);
  }


function imgchange(){
    $("#img").fadeOut('1000', ()=>{
      $("#img").attr("src",imgs[i_img]);
    });
    $("#img").fadeIn('1000');
    i_img++;
    if( i_img > 2){i_img = 0}
}

  $(document).ready(function() {

      $("#img").attr("src",imgs[0]); // set first image after page load
      headlines_animation()
      imgchange()
  }) ;
</script>

{% endblock %}
