

{% extends 'base.html' %}

{% block title %}Player Name{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'create_player/css/create_player.css' %}">
{% endblock %}

{% block body %}

{% include "navbar-dropdown.html" %}
<div class="my-container">
  {% include "navbar.html" %}
  <div class=" input-div">
    <h2 class="font-headline font-demi font-size-m black">Player Name</h2>

    <form  method="POST">
      {% csrf_token %}
      {{ form.as_p }}


        <button class="start-div input-start" type="submit" >
            <div class="start-line start-line-front"></div>
              <p class="start-btn font-headline font-demi black">Start</p>
            <div class="start-line start-line-back"></div>
        </button>

    </form>

  </div>
</div>



{% endblock %}
