

{% extends 'base.html' %}

{% block title %}Player Name{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'create_player/css/create_player.css' %}">
{% endblock %}

{% block body %}
{% include "navbar.html" %}

<div class=" input-div">
  <h2 class="font font-size-s font-medium dark-gray"> Player Name</h2>

  <form  method="POST">
    {% csrf_token %}
    {{ form.as_p }}


      <button class="start-div input-start" type="submit" >
          <div class="start-line start-line-front"></div>
            <div class="start-btn font font-medium font-size-sm dark-gray ">start</div>
          <div class="start-line start-line-back"></div>
      </button>

  </form>

</div>


{% endblock %}
