{% extends 'base.html' %}

{% block title %}Questions{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">

{% endblock %}



{% block body %}
  <div class="my-container">
    {% include "navbar-quiz.html" %}

    <!-- Time bar -->
    <div class="time-div">
      <div id='time-left' class="time-line time-left left"> </div>
      <div id='time-passed' class="time-line time-passed right" ></div>
    </div>

    <!-- question section -->
    <div class="question-div">
      <h4 id='q-question' class="font-p font-size-m font-regular question black" ></h4>
    </div>

    <!-- image section -->
    <div id="img" class="img-div">
    </div>

    <!-- answers section -->
    <div class="answers-div">
          <div id="A" class="answer font-p black"></div>
          <div id="B" class="answer font-p black"></div>
          <div id="C" class="answer font-p black"></div>
          <div id="D" class="answer font-p black"></div>
    </div>
  </div>


<script type="text/javascript">

  // find player shortcode in URL
  var url = window.location.href
  var player_code
  var question_id
  var current_question_obj
  var remain_questions_nr
  var clock
  var time = 30// seconds for each question


  function populateHTML(
    title='',     question='',
    answer1='',   answer2='',
    answer3='',   answer4=''){
      $('#q-title').html(title);
      $('#q-question').html(question);

      $('#A').html(answer1);
      $('#B').html(answer2);
      $('#C').html(answer3);
      $('#D').html(answer4);
  }


  // remove selection
  function remove_selection(){
    $(".answer").each(function(i, el){
      $(el).removeClass('selected')
    })
  }


  // go to results page
  function results(url){
      var generateQuiestionURL = url.split("quizgame")[0] + "quizgame/results/"
      url = generateQuiestionURL + player_code
      $(location).attr('href', url);
  }


  function start_clock(){
    time = 30
    $('#clock').html(`${time}`)
    clock = setInterval(function(){
      if (time > 0){
        time -= 1 ;

        x = Math.round(time * 100 / 30)
        y = 100 - x
        width1 = x.toString() + '%'
        width2 = y.toString() + '%'
        $("#time-left").css('width',width1);
        $("#time-passed").css('width',width2);

      }else{
        clearInterval(clock)
        // check if this was last question and results should be generated
        if($("#resultsButton").length){
            submit_answer();
            results(url);
        }else{
          submit_answer()
          // get_question();
        }
      }
    }, 1000);
  }


  function submit_answer(){
    // stop the clock
    clearInterval(clock)

    // post answer - url
    question_post_url = url.split("quizgame")[0] + "quizgame/api/" + player_code + '/questions/'

    // post answer - prepare data
    // check the answer and handle if nothing is selected
    answer = $('.selected').html()
    if(answer == null){answer = 'z'}
    //answer ides
    answer_id = $('.selected').attr('id')
    if ( answer_id == null ){ answer_id = ''}
    // post data
    var post_data = {"answer_id": answer_id, "shortcode": player_code, "question_id":question_id, 'time':time }

    // post answer - ajax post
    $.ajax({
      type:'POST',
      url: question_post_url,
      dataType: 'json',
      data: post_data,
    }).done(()=>{
      // remove selection
      remove_selection();
    }).done(()=>{
      get_question()
    })
  }

  function get_question(){
    // get nex quesion id - url
    var player_URL = url.split("quizgame")[0] + "quizgame/api/" + player_code + '/questions/'

    // get nex quesion id  - ajax get
      $.ajax({
        type:'GET',
        url: player_URL,
        success: (data) => {
          //question_id = data.current_question_obj
          if( data.status ){
            results(url);
          }else{
            current_question_obj = data
            question_id = data.id
          }
        }
      }).done(()=>{
          // check if question have a img and display it
          if(typeof(current_question_obj.img_url)!="undefined"){
            $("#img").html(`<img src="${current_question_obj.img_url}" alt="">`)
          }else{
            // hide img divs
            $("#img").hide()
          }
          // populate html with question content
          populateHTML(
            title=current_question_obj.title,
            question=current_question_obj.question,
            answer1=current_question_obj.answer_A,
            answer2=current_question_obj.answer_B,
            answer3=current_question_obj.answer_C,
            answer4=current_question_obj.answer_D)
        }).done(()=>{
          start_clock()
        })
    }


// DOCUMENT READY
$(document).ready(function() {

  // get player shortcode form url
  var y = url.split('/').reverse()
  $(y).each(function(ix, val){
    if (val.includes("code=")){
      player_code = val
      return false; // break from loop
    }
  });
  get_question()

  // handle user selecting the answer
  $(".answer").click(function(){
  remove_selection()
  $(this).toggleClass('selected')
  submit_answer()

  // reset the clock
  $("#time-left").css('width','100%');
  $("#time-passed").css('width','0%');

  });
});



</script>




{% endblock %}
