{% extends 'base.html' %}


{% block title %} Check answers {% endblock %}



{% block head %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'review/css/review.css' %}">



{% endblock %}





{% block body %}
  {% include 'navbar-dropdown.html' %}
<div class="my-container">
  {% include 'navbar.html' %}


  <!-- answers section -->
  {% for question in questions %}
  <div class="review">
    <div class="review-container">
      <!-- Quiestion -->
      <div class="question-div">
        <h4 id='q-question' class="font-p font-size-m font-regular question black" >{{ question.question }}</h4>
      </div>

      <!-- image -->
      <div id="img" class="img-div">
        <img src="{% if question.question_img %}{{ question.question_img.url }}{% endif %}">
      </div>
      <!-- Answers -->
      <div class="answers-div">
        <div id="A" class="answer font-p font-size-s {% if question.correct_answer == 'A' %}black{% else %}light-gray{% endif %}"><p>{{ question.answer_A }}</p></div>
        <div id="B" class="answer font-p font-size-s {% if question.correct_answer == 'B' %}black{% else %}light-gray{% endif %}"><p>{{ question.answer_B }}</p></div>
        <div id="C" class="answer font-p font-size-s {% if question.correct_answer == 'C' %}black{% else %}light-gray{% endif %}"><p>{{ question.answer_C }}</p></div>
        <div id="D" class="answer font-p font-size-s {% if question.correct_answer == 'D' %}black{% else %}light-gray{% endif %}"><p>{{ question.answer_D }}</p></div>
      </div>
      <button id='next-btn' class='font font-size-s font-regular gray' type="button" name="button"><i class="fas fa-arrow-right"></i></button>

    </div>
  </div>

  {% endfor %}
</div>




<script type="text/javascript">


  $(document).ready(()=>{
    $('.review').first().fadeIn().addClass('active')

    $('button').click(()=>{
      if ($('.active').next().hasClass('review') ){
        $('.active').fadeOut(500).removeClass('active').next().addClass('active')
        setTimeout(()=>{
          $('.active').fadeIn(500)
        },500)
      }else{
        $('.active').fadeOut(500).removeClass('active')
        $('.review').first().addClass('active')
        setTimeout(()=>{
          $('.active').fadeIn(500)
        },500)
      }

    })

  })

</script>

{% endblock %}
