{% extends 'base.html' %}


{% block title %} Check answers {% endblock %}



{% block head %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'review/css/review.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
<style media="screen">
 #correct{
   color:blue;
 }
</style>

{% endblock %}




{% block body %}
{% include 'navbar-home.html' %}


<!-- answers section -->
{% for question in questions %}
  <div class="review">
    <!-- Quiestion -->
    <p class="font font-size-m font-medium dark-gray question">{{ question.question }}</p>
    <!-- image -->
    <div class="full-row img-div">
      <img src="{% if question.question_img %}{{ question.question_img.url }}{% endif %}">
    </div>
    <!-- Answers -->
    <table class="font font-size-s font-regular dark-gray full-row">
      <tr>
        <td id="A" class="answer {% if question.correct_answer == 'A' %}dark-gray{% else %}light-gray{% endif %}">{{ question.answer_A }}</td>
        <td id="B" class="answer {% if question.correct_answer == 'B' %}dark-gray{% else %}light-gray{% endif %}">{{ question.answer_B }}</td>
      </tr>
      <tr>
        <td id="C" class="answer {% if question.correct_answer == 'C' %}dark-gray{% else %}light-gray{% endif %}">{{ question.answer_C }}</td>
        <td id="D" class="answer {% if question.correct_answer == 'D' %}dark-gray{% else %}light-gray{% endif %}">{{ question.answer_D }}</td>
      </tr>
    </table>
    <button id='next-btn' class='font font-size-s font-regular gray' type="button" name="button"><i class="fas fa-arrow-right"></i></button>
  </div>
{% endfor %}



<script type="text/javascript">


  $(document).ready(()=>{
    $('.review').first().fadeIn().addClass('active')

    $('button').click(()=>{
      if ($('.active').next().hasClass('review') ){
        $('.active').fadeOut(500).removeClass('active').next().addClass('active')
        setTimeout(()=>{
          $('.active').fadeIn(500)
        },500)
      }else{
        $('.active').fadeOut(500).removeClass('active')
        $('.review').first().addClass('active')
        setTimeout(()=>{
          $('.active').fadeIn(500)
        },500)
      }

    })

  })

</script>

{% endblock %}
